/* VARIABLES */
:root{
    --background-nav-contact: #524A4E ;
    --p-contact-header: #fff;
    --link-menu: #000;
    --link-menu-font: 25px;
    --navbar-container: #F7ECE1;
    --title-color: #ECC488;
    --button-slide:#ECC488;
    --button-a-slide: #fff;
    --h2-slide-fs: 40px;
    --h2-slide-fs-responsive: 35px;
    --title-fs-content: 35px;
    --p-fs: 25px;
    --button-slide-fs: 25px;
}
/* RESET CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* FONT SITE */
/* Font Menu */
@font-face {
    font-family: 'Gill Sans MT Light';
    font-style: normal;
    font-weight: normal;
    src: local('Gill Sans MT Light'), url('Gill Sans MT Light.woff') format('woff');
}
/* Font Titre */
@font-face {
    font-family: 'Gill Sans MT Heavy';
    font-style: normal;
    font-weight: normal;
    src: local('Gill Sans MT Heavy'), url('Gill Sans MT Heavy.woff') format('woff');
}
/* Font Texte */
@font-face {
    font-family: 'Gill Sans MT Book';
    font-style: normal;
    font-weight: normal;
    src: local('Gill Sans MT Book'), url('Gill Sans MT Book.woff') format('woff');
}
/* @font-face {
    font-family: 'Gill Sans MT Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Gill Sans MT Bold'), url('Gill Sans MT Bold.woff') format('woff');
} */

/* GÉNÉRAL   */
.row-limit-size{
    max-width: 1600px;
    width: 100%;
}
h1, h2, h3{
    font-family: 'Gill Sans MT Heavy';
    color:var(--title-color);
}
p, span{
    /* font-family: 'Gill Sans MT Heavy'; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
a{
    display: block;
    text-decoration: none;
    font-family: 'Gill Sans MT Heavy';
}
ul{
    list-style-type: none;
}
.p-contact-header{
    color: var(--p-contact-header);
}

.align-center{
    display: flex;
    align-items: center;
}

/* HEADER  */
/* Nav contact */
.row-limit-size > .nav{
    background-color: var(--background-nav-contact);
}
nav.navbar{
    padding: 0;
}
.row-limit-size > .nav > li > a > img{
    width: 50px;
}

/* Nav Menu */
nav.navbar > .container-fluid > .collapse{
    justify-content: center;
}
nav.navbar > .container-fluid > .collapse > ul.navbar-nav > li{
    padding: 20px;
}
nav.navbar > .container-fluid{
    background-color: var(--navbar-container);
    padding: 10px;
}
nav.navbar > .container-fluid > a > figure > img{
    width: 160px;
}
nav.navbar > .container-fluid > #navbarNav > ul > li > a {
    color: var(--link-menu);
    padding: 10px;
    font-size: var(--link-menu-font);
}

/* Slide */
.content-slide, .presta-categorie, .contact-txt,.story_b, .newsletter{
    -webkit-box-shadow: 0px 4px 22px 0px rgba(0,0,0,0.25); 
    box-shadow: 0px 4px 22px 0px rgba(0,0,0,0.25);
}
.content-slide{
    width: 45%;
    height: 505px;
}
.slide > #carouselExampleIndicators > .carousel-inner > .carousel-item > .content-slide > .txt-slide > h2{
    font-size: var(--h2-slide-fs);
    padding: 20px;
   
}
.h2-presta{
    font-size: var(--h2-slide-fs);
    padding: 50px 0;
}
/* .slide > #carouselExampleIndicators > .carousel-inner > .carousel-item{
    position: relative;
} */
.slide > #carouselExampleIndicators > .carousel-inner > .carousel-item > img{
    position: absolute;
    right: 0;
}
.slide > #carouselExampleIndicators > .carousel-inner > .carousel-item > .content-slide > .txt-slide{
    position: absolute;
    top: 30%;
    width: 45%;
}
.slide > #carouselExampleIndicators > .carousel-inner > .carousel-item > .content-slide > .txt-slide > p{
    font-size: var(--p-fs);
    padding: 20px 0 40px 0;
}
.slide > #carouselExampleIndicators > .carousel-inner > .carousel-item > .content-slide > .txt-slide > button{
    background-color: var(--button-slide);
    width: 300px;
    height: 65px;
    border: none;
    
}
.slide > #carouselExampleIndicators > .carousel-inner > .carousel-item > .content-slide > .txt-slide > button > a{
    color: var(--button-a-slide);
    font-size: var(--button-slide-fs);
}

/* Prestations  */
.presta{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-count: 3;
    column-gap: 100px;
    align-items: center;
}
.presta > .presta-categorie{
    width: 350px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.presta > .presta-categorie::before{
    content:'';
    position: absolute;
    /* top: 5px; */
    bottom:  5px;
    right: 50%;
    width: 0;
    height: 0;
    border: 2px solid wheat;
    border-right: none;
    /* border-bottom: none; */
    border-top: none;
  }
.presta > .presta-categorie::after{
    content:'';
    position: absolute;
    /* top: 5px; */
    bottom: 5px;
    left: 50%;
    width: 0;
    height: 0;
    border: 2px solid wheat;
    border-left: none;
    /* border-bottom: none; */
    border-top: none;
}
.presta > .presta-categorie:hover:after{
    width: calc(50% - 5px);
    height: calc(100% - 5px);
    transition: width 0.15s ease-out, height 0.15s ease-out 0.15s;
    /* opacity: 1; */
    /* z-index: 999; */
}
.presta > .presta-categorie:hover::before{
    width: calc(50% - 5px);
    height: calc(100% - 5px);
    transition: width 0.15s ease-out, height 0.15s ease-out 0.15s;
    z-index: 999;
}

.presta > .presta-categorie > figure > img{
    width: 100%;
    height: 190px;
    object-fit: cover;
    position: absolute;
    top: 0%;
    left: 0;
}
.presta > .presta-categorie>.txt-presta{
    position: absolute;
    top: 45%;
}


.presta > .presta-categorie>.txt-presta>p {
    font-size: var(--p-fs);
    text-align: center;
    padding: 20px 10px 20px 10px;

}
.presta > .presta-categorie>.txt-presta>h3{
    font-size: var(--title-fs-content);
    text-align: center;
    padding-top: 20px;


}
.presta > .presta-categorie> .price-presta{
width: 100%;
height: 70px;
background-color: #ECC488;
position: absolute;
bottom: 0;
font-size: var(--p-fs);
font-weight: 700;
color: #fff;
justify-content: center;
cursor: pointer;
}

/* Div Contact */
.contact{
    padding-bottom: 50px;
    flex-wrap: wrap;
}
.contact-txt{
    height: 500px;
    width: 40%;
}
.contact > .contact-txt > .horaire{
    padding: 20px 0;
}
.contact > .contact-txt > .horaire > p{
    font-size: var(--p-fs);
}
.contact > .contact-txt > .horaire > p > span.jours{
    font-weight: 700;
    padding-right: 10px;
}
.contact > .contact-txt > .adresse > .txt-adresse{
    padding: 20px 0;
}
.contact > .contact-txt > .adresse > .txt-adresse > a{
    color: #000;
    font-size: var(--p-fs);
}
.contact > .contact-txt > .adresse > .txt-adresse > a > img{
    width: 70px;
    padding: 0 20px 0 10px;
}
.contact > .maps > iframe{
    padding-left: 50px;
}
/* footer histoire,rs, newsletter  */
footer{
    background-color: var(--navbar-container);
    padding-top: 50px;
}
footer > .main-footer{
    justify-content: space-around;
    flex-wrap: wrap;
}
footer > .main-footer > .story_b, .newsletter{
    background-color: #fff;
}
footer > .main-footer > .story_b{
    font-size: var(--p-fs);
    width:500px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
footer > .main-footer > .story_b > .sizing > img{
    width: 160px;
    object-fit: contain;
}
footer > .main-footer > .story_b > .sizing{
    display: flex;
}
.descrip_1{
    width: 385px;
    margin: 10px;
    padding: 20px;
}
.newsletter{
    height: 400px;
    width: 50%;
}
.newsletter > .sizing_2 > .main-newsletter > .img-newsletter > figure > img{
    width: 80px;
    object-fit: contain;
}
.newsletter > .sizing_2 > p{
    font-size: var(--p-fs);
    text-align: center;
}
span.bold{
    font-weight: 700;
}
.newsletter-content{
    background-color: #524A4E;
    width: 500px;
}
.newsletter-content > label > input{
    background-color: #524A4E;
    height: 50px;
    width: 400px;
}
.newsletter-content > label > input::placeholder{
    color: #fff;
    font-size: var(--p-fs);
    
}
.newsletter-content > label > figure{
    padding: 10px;
}
.newsletter-content > label > figure > img{
    width: 50px;
}
.main-newsletter > .img-newsletter > figure, .newsletter > .sizing_2 > p{
    padding: 20px;
}


/* Reseaux */
.reseau >  a > figure{
    padding: 20px;
}
.reseau >  a > figure > img{
    width: 60px;
}

/* Copyright */
.copyright > p {
    font-size: var(--p-fs);
    text-align: center;
    padding: 20px;
}

/* Mentions légales */
.mentions-legale > a{
    color: #000;
    font-size: var(--p-fs);
    text-align: center;
    cursor: pointer;
}

/* Cookie */
.cookie-alert {
    position: fixed;
    bottom: 20px;
    right:20px;
    border-radius: 10px;
    background:#2f2f2f;
    color:#fff;
    padding:10px 15px;
    width:280px;
    z-index:100;
 }
 .cookie-alert a {
    display: block;
    text-align: center;
    padding: 5px 10px;
    margin: 8px auto 0 auto;
    border-radius: 10px;
    background: transparent;
    border: 2px solid #46A2D9;
    color:#46A2D9;
    transition: all .3s ease;
}
.cookie-alert a:hover {
    background: #46A2D9;
    color:#2f2f2f;
}







/* Media Querry */
@media screen and (max-width: 1600px){
    .slide > #carouselExampleIndicators > .carousel-inner > .carousel-item > img{
        height: 505px;
        object-fit: cover;
    }
}
@media  screen and (max-width: 1300px ) {
    .main-newsletter{
        flex-direction: column;
    }
    .newsletter{
        height: auto;
    }
}
@media screen and (max-width: 1140px){
    footer > .main-footer > .story_b, .newsletter {
        width: 90%;
    }
}
@media screen and (max-width: 1050px){
    .contact-txt{
        margin-bottom: 50px;
        padding: 25px;
        width: 80%;
        height: auto;
    }
}
@media screen and (max-width: 995px){
    .navbar-nav{
        flex-direction: row;
        justify-content: center;
    }
    .contact > .maps > iframe{
        padding-left: 0;
    }
}
@media screen and (max-width: 950px) {
    .slide > #carouselExampleIndicators > .carousel-inner > .carousel-item > .content-slide > .txt-slide{
        top: 20%;
    }
}
@media screen and (max-width: 820px) {
    .slide > #carouselExampleIndicators > .carousel-inner > .carousel-item > img{
        left: 0;
        width: 100% !important;
    }
    .slide > #carouselExampleIndicators > .carousel-inner > .carousel-item > .content-slide{
        height: 900px;
        width: 100%;
    }
    .slide > #carouselExampleIndicators > .carousel-inner > .carousel-item > .content-slide > .txt-slide{
        top: 60%;
        left: 25%;
        width: 50%;
    }
    .slide > #carouselExampleIndicators > .carousel-inner > .carousel-item > .content-slide > .txt-slide > h2{
        font-size: var(--h2-slide-fs-responsive);
    }
}
@media screen and (max-width: 750px) {
    .navbar-nav{
        flex-direction: column;
        text-align: center;
    }
    .slide > #carouselExampleIndicators > .carousel-inner > .carousel-item > .content-slide > .txt-slide > button{
        width: auto;
        padding: 0 20px;
    }
    /* footer > .main-footer > .story_b, .newsletter {
        width: 90%;
    } */
}
@media screen and (max-width: 600px){
    .contact > .maps > iframe{
        width: 450px;
    }
}
@media screen and (max-width: 590px){
    .slide > #carouselExampleIndicators > .carousel-inner > .carousel-item > .content-slide > .txt-slide{
        top: 55%;
        width: auto;
        left: 0;
    }
}
@media screen and (max-width: 530px){
    .contact > .maps > iframe{
        width: 350px;
        height: 350px;
    }
    .adresse > .txt-adresse > a{
        flex-direction: column;
    }
    .adresse > .txt-adresse > a > img{
        object-fit: contain;
    }
}
@media only screen and (max-width:480px) {
    .cookie-alert {
       text-align: center;
       left: 0; right: 0;;
       margin: 0 auto;
       max-width: 700px;
       padding: 10px 30px;
    }
}